* {
  font-family: 'Open Sans', sans-serif;
}

body {
  /* display: flex; */
  justify-content: center;
  background-color: #F5F5F5;
  width: 100%;
}

.page {
  justify-content: center;
  flex-direction: row;
}
ul {
  margin-block-start: 0em;
    margin-block-end: 0em;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #AAAAAA;
}

a:hover {
  color: #6DC0EF;
}



/* ------------Positioning------------ */
.content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 131px;
  margin-right: 131px;
}

.main{
  background-color: blue;
  padding-inline-start: 0px;
  /* margin-right: 20px; */
  position: sticky;
  /* width: 70%; */

}

.secondary {
  background-color: yellow;
  padding-inline-start: 0px;
  margin: 0;
  position: sticky;
  /* width: 30%; */
}

.footer {
  margin: 0;
  position: sticky;
  top: 100%;
}

/* ------------Icons------------ */
.social-link img{
  filter: invert(70%);
  width: 20px;
}

.fa-angle-down {
  color: #AAAAAA;
}

.fas:hover {
  color: #6DC0EF;
}

.fab {
  color: #AAAAAA;
}

.fab:hover {
  color: #6DC0EF;
}

/* ------------Nav------------ */

.nav {
  display: flex;
  justify-content: space-between;

  /* justify-content: space-between; */
  align-items: center;
  height: 69px;
  background-color: white;
  background-size: cover;
}

.nav-links{
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-link.home{
  padding-left: 145px;
}

.nav-link.features {
  padding-left: 25px;
  letter-spacing: .5px;
}

.nav-link.lifestyle {
  padding-left: 25px;
  letter-spacing: .35px;
}

.nav-link.travel {
  padding-left: 25px;
  letter-spacing: .65px;
}

.nav-link.about-me {
  padding-left: 25px;
  letter-spacing: .75px;
}

.nav-link.contact {
  padding-left: 25px;
  letter-spacing: 0.6px;
}

.nav-social {
  padding-right: 129px;
}

.search {
  padding-left: 27.5px;
}

.nav-social-link {
  margin: 2.45px;
}

/* ------------Cards------------ */
.card{
  /* width: 100%; */
  /* background-color: white; */
}

/* .card1 > header {
  size: 100%;
  background-image: url(https://www.sbp.de/fileadmin/sbp.de/projects/E7065EC0E3C273A3C1257E750036350F_0_1_2044_1139_a_MAX.jpg
);
  background-size: 100%;
} */
