* {
  font-family: 'Open Sans', sans-serif;
}

body {
  /* display: flex; */
  justify-content: center;
  background-color: #F5F5F5;
  width: 100%;
}

.page {
  justify-content: center;
  flex-direction: row;
}
ul {
  margin-block-start: 0em;
    margin-block-end: 0em;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #AAAAAA;
}

a:hover {
  color: #6DC0EF;
}



/* ------------Positioning------------ */
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 52px;
  margin-left: 91px;
  margin-right: 131px;
}

.main{
  display: inline-block;
  /* background-color: blue; */
  width: 66.9%;
  margin-right: 2.7%;
}

.secondary {
  /* background-color: yellow; */
  padding-inline-start: 0px;
  width: 30.4%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #222222;
}

/* ------------Icons------------ */

.fa-angle-down {
  color: #AAAAAA;
}

.fas:hover {
  color: #6DC0EF;
}

.fab {
  color: #AAAAAA;
}

/* ------------Hover Styling------------ */
.fab:hover {
  color: #6DC0EF;
}

button:hover {
  color: #6DC0EF;
}

a:hover {
  color: #6DC0EF;
}

h3:hover {
  color: #6DC0EF;
}

.secondary-card {
  position: relative;
  width: 50%;
}

.secondary-card .hover {
-webkit-filter: grayscale(0%);
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
-ms-transition: all .2s ease;
transition: all .2s ease;
}

.secondary-card .hover:hover {
-webkit-filter: grayscale(100%);
}


/* ------------Nav------------ */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: white;
  background-size: cover;
}

.nav-links{
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-link.home{
  padding-left: 145px;
}

.nav-link.features {
  padding-left: 25px;
  letter-spacing: .5px;
}

.nav-link.lifestyle {
  padding-left: 25px;
  letter-spacing: .35px;
}

.nav-link.travel {
  padding-left: 25px;
  letter-spacing: .65px;
}

.nav-link.about-me {
  padding-left: 25px;
  letter-spacing: .75px;
}

.nav-link.contact {
  padding-left: 25px;
  letter-spacing: 0.6px;
}

.nav-social {
  padding-right: 129px;
}

.search {
  padding-left: 27.5px;
}

.nav-social-link {
  margin: 2.45px;
}

/* ------------Cards------------ */

.card {
  background-color: white;
  margin-bottom: 5.6%;
}

.card img {
  width: 100%;
}

.card-body {
  text-align: center;
  padding-left: 5.8%;
  padding-right: 5.8%;
  padding-top: 4.5%;
}

.category {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10.5px;
}

.card-title {
  margin-top: 2%;
  text-transform: uppercase;
  font-size: 153%;
  font-weight: 400;
  /* font-size: 24.5px; */
}

.card-content {
  text-align: left;
  margin-top: 4%;
  line-height: 169%;
  font-weight: 200;
}

.continue-reading {
  margin-top: 1%;
  padding: 14px 25px;
  background-color: white;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  text-transform: uppercase;
  font-size: 13.4px;
  font-weight: 200;
  letter-spacing: .2px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5%;
  margin-left: 5.7%;
  margin-right: 6.2%;
  border-top: solid 1px #EEEEEE;
  padding-top: 2.5%;
  padding-bottom: 4.3%;
}

.card-footer-author {
  font-size: 13px;
  font-style: italic;
  color: #3D3D3D;
}

.author {
}

.author-name {
  color: #3D3D3D;
}

.card-footer-social {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  color: #C2C2C2;
}

.card-footer-share {
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  padding: 7px;
  margin-left: 10px;
}

.card-footer-share.fa-linkedin-in {
  padding: 7px 8.5px;
}

.card-footer-share.fa-google-plus-g {
  padding: 7px 5px;
}

.card-footer-share.fa-facebook-f {
  padding: 7px 10px;
}

/* ------------Secondary Cards------------ */

.secondary-card {
  background-color: white;
  width: 100%;
  margin-bottom: 10.4%;
}
.secondary-card img {
  width: 100%;
}

.secondary-card1-text {
  background-color: white;
  margin-top: 4.5%;
}

.secondary-card1 img {
  position: absolute;
  top: 0;
  left: 0;
}

.secondary-card1 {
  position: relative;
  text-align: center;
  padding-bottom: 37%;
}
img.brian {
  width: 83%;
  margin-left: 8.5%;
  margin-right: 8.5%;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 50%;
}

.secondary-card-body {
  top: 104px;
  position: relative;
}

.brian-title {
  letter-spacing: .4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 117%;
  margin-bottom: 5.5%;
}

.brian-content {
  margin: 0% 9% 6.2% 9%;
  line-height: 172%;
}

.secondary-card-footer-share {
  font-size: 15.5px;
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  padding: 7.5px;
  margin: .5%;
}

.secondary-card-footer-share.fa-google-plus-g {
  padding: 7.5px 6px;
}

.secondary-card-footer-share.fa-facebook-f {
  padding: 7.5px 10px;
}

.secondary-card-footer-share.fa-linkedin-in {
  padding: 7.5px 8.5px;
}

.secondary-card-footer-share.fa-instagram {
  padding: 7.5px 8.5px;
}

.secondary-card2 {
  text-align: center;
  background-color: white;
  padding: 6.2% 8.5% 5% 8.5%;
}

/* .reframe {
  height: 75%;
 width: 100%;
 overflow: hidden;
}

.reframe img {
  width: 100%;
  height: auto;
} */

.popular {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17.5px;
  letter-spacing: .5px;
  margin-bottom: 8.4%;
}

.popular-content {
  text-align: left;
  padding-bottom: 4.5%;
  border-bottom: solid 1px #EEEEEE;
}

.popular-title {
  margin-top: 6%;
  font-size: 11.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.popular-date {
margin-top: 4%;
font-weight: 200;
font-size: 12px;
font-style: italic;
letter-spacing: -.1px;
color: #AAAAAA;
}

.popular-content-fall {
  margin-top: 8.5%;
}

.fall-title {
  margin-top: 6.4%;
}

.fall-date {
  margin-top: 4.3%;
}

.popular-content-sip {
  margin-top: 8.5%;
}

.sip-title {
  margin-top: 6.7%;
}

.sip-date {
  margin-top: 4.1%;
}

.popular-content-sip {
  border: none;
}

.secondary-card3 {
  text-align: center;
  padding: 6.5% 8.5% 10%;
}

.latest {
  font-size: 17.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.latest-section {
  position: relative;
  align-items: center;
  text-align: left;
  padding-bottom: 3%;
  border-bottom: 1px solid #EEEEEE;
  margin-top: 8%;
  margin-bottom: -4%;
}

.latest-image img {
  display: inline;

  width: 33.6%;
}
.latest-content {
  display: inline;
  position: absolute;
  top: -15%;
  left: 37%;
}
.latest-content-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7%;
  margin-bottom: -3%;
}

.latest-content-date {
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  color: #AAAAAA;
}

.latest-section4 {
  border: none;
}

.secondary-card4 {
  text-align: center;
  padding: 5% 5% 9%;
}

.secondary-card4 h1 {
  font-size: 23px;
  margin: 5.4% 4%;;
  margin-block-start: none;
  margin-block-end: none;
  font-size: 17.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.pinterest-photos {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.secondary-card4 img {
  width: 29%;
  margin: 1%;
}

.footer h4 {
  color: white;
  font-weight: lighter;
  font-size: 15px;
  margin: 26px 22px 26px;
}



@media (max-width: 600px) {
  .content {
    display: inline-block;
    justify-content: center;
    padding: 18px;
    width: 100vw;
    margin: 0px;
  }
  .nav-links {
    justify-content: space-between;
    width: 100vw;
    text-align: center;
    display: grid;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 14px;
  }

  .nav-links i {
    position: absolute;
    visibility: hidden;
  }
  .nav-link.home{
    padding-left: 0px;
  }
  .nav-link.about-me {
    padding-left: 0px;
    letter-spacing: .75px;
  }

  .nav-link.contact {
    padding-left: 0px;
    letter-spacing: 0.6px;
  }
  .nav-mobile {
    position: absolute;
    visibility: hidden;
  }
  .nav-social {
    visibility: hidden;
  }
  .main{
    display: inline-block;
    /* background-color: blue; */
    width: 100%;
    margin-right: 0%;
    padding-left: 0px;
  }

  .secondary {
    /* background-color: yellow; */
    padding-inline-start: 0px;
    width: 100%;
  }

  .secondary-card {
    margin-bottom: 5.6%;
  }

  .secondary-card1 {
    padding-bottom: 30%;
}

}
